.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
}

.fancy-text {
  margin-top: 20px;
  font-size: 1.2rem;
  font-style: italic;
  color: #f30808;
  white-space: pre-wrap;
}